@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
.jio {
  @media only screen and (max-width: 360px) {
    display: none;
  }
}
